@import '@skeletonlabs/skeleton/themes/theme-modern.css';
@import '@skeletonlabs/skeleton/styles/skeleton.css';

:root {
	/* =~= Theme Properties =~= */
	--theme-font-family-base: 'Noto Sans', sans-serif;
	--theme-font-family-heading: 'Noto Sans', sans-serif;
	--theme-font-color-base: 0 0 0;
	--theme-font-color-dark: 255 255 255;
	--theme-rounded-base: 8px;
	--theme-rounded-container: 8px;
	--theme-border-base: 1px;
}

html,
body {
	@apply h-full;
}
